<style>
.avatar {
    box-sizing: border-box;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    position: relative;
    top: 72px;
}
@* .description {
    white-space: pre;
} *@
</style>

@{
    ViewData["Title"] = "Home";
}

@model User; 

<partial name="_Navigation.cshtml" />

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header bg-info">
                @{
                    if(Model.Avatar == null) {
                        <img src="~/img/default.webp" alt="user avatar" class="avatar img-thumbnail" />
                    } else {
                        var src = "data:image;base64," + Convert.ToBase64String(Model.Avatar);
                        <img src="@src" alt="user avatar" class="avatar img-thumbnail" />
                    }
                }
            </div>
            <div class="card-body">
                <h1 class="mt-5">@Model.Name</h1>
                @if(Model.Location != null)
                {
                    <h4>@Model.Location</h4>
                }
                @if(Model.Description != null)
                {
                    <p class="description my-3">@Model.Description</p>
                }
                @if(ViewBag.sessionId == Model.UserId)
                {
                    <a href="/user/@Model.UserId/edit">edit profile</a>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <ul class="list-group mb-5">
            <li class="list-group-item bg-dark text-white d-flex align-items-center">
                
                <span class="badge badge-pill badge-secondary">@ViewBag.MyConnections.Count</span>
                @if(ViewBag.sessionId == Model.UserId)
                {
                    <span class="m-2">Your connections:</span>
                }
                else
                {
                    <span class="m-2">@Model.Name&apos;s connections:</span>
                }
            </li>
            @{
                List<User> usersConnections = (List<User>) ViewBag.MyConnections;
            }
            @if( usersConnections.Count == 0)
            {
                <li class="list-group-item">
                    No connections...
                </li> 
            }
            @foreach (User u in usersConnections)
            {
                <li class="list-group-item">
                    <a href="/user/@u.UserId">@u.Name</a>
                </li>    
            }
        </ul>
        @if(ViewBag.sessionId == Model.UserId)
        {
            <ul class="list-group">
                <li class="list-group-item bg-dark text-white d-flex align-items-center">
                    <span class="badge badge-pill badge-secondary">@ViewBag.ConnectionRequests.Count</span>
                    <span class="m-2">Connection Requests:</span>
                </li>
                @{
                    List<User> requests = (List<User>) ViewBag.ConnectionRequests;
                }
                @if(requests.Count == 0)
                {
                    <li class="list-group-item">
                        No requests...
                    </li> 
                }
                @foreach (User u in requests)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/user/@u.UserId">@u.Name</a>
                        <a class="btn btn-sm btn-outline-success" href="/connect/@u.UserId?prev=user/@Model.UserId">Accept</a>
                        <a class="btn btn-sm btn-outline-danger" href="/ignore/@u.UserId">Ignore</a>
                    </li>    
                }
            </ul>
        }
    </div>
</div>